<div class="header">
    <h1>Add User</h1>
</div>

<div class="content">
	<p>
		Go ahead and add a user.  You can have up to 10 total users.
	</p>

	<form class="pure-form pure-form-aligned">
	    <fieldset>
	        <div class="pure-control-group">
	            <label for="name">Name</label>
	            <input id="name" type="text" placeholder="Name">
	        </div>

	        <div class="pure-control-group">
	            <label for="email">Email Address</label>
	            <input id="email" type="email" placeholder="Email Address">
	        </div>

	        <div class="pure-control-group">
	            <label for="interests">Interests</label>
	            <input id="interests" type="text" placeholder="Separate by comma...">
	        </div>

	        <div class="pure-controls">
	            <button type="submit" class="pure-button pure-button-primary">Submit</button>
	        </div>
	    </fieldset>
	</form>

</div>